CLIENT_GATEWAY_PORT=3000



PAYMENTS_MS_PORT=3003
#https://dashboard.stripe.com/test/apikeys
STRIPE_SECRET=
STRIPE_SUCCESS_URL=http://localhost:3003/payments/success
STRIPE_CANCEL_URL=http://localhost:3003/payments/
# https://dashboard.stripe.com/test/workbench/webhooks/we_1RttdfPwvnBtYCICN6rA8YkG
# Este es el signing secret del webhook
STRIPE_ENDPOINT_SECRET=

AUTH_DATABASE_URL=mongodb+srv://<db_username>:<db_password>@auth-ms-db.2zmwmj0.mongodb.net/AuthDB
JWT_SECRET=

# https://console.neon.tech/app/projects/weathered-hall-04276428?database=neondb
ORDERS_DATABASE_URL=